:root {
  --primary-color: #84938a;
  --secondary-color: #d8dfd8;
  --dark-color: #767c7c;
  --sparkle: #ffd700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 160px;
  padding-bottom: 110px;
}

/* home page style */
.home {
  display: flex;
  flex-flow: row wrap;
}

.greeting {
  font-size: 1em;
  text-align: center;
  padding: 1rem;
}

.profile img {
  width: 14em;
  border-radius: 50%;
}

button {
  font-size: 1em;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1%;
  color: white;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
}
/* end home page style */

/* header style */
.header {
  background-color: var(--secondary-color);
}

.name {
  font-weight: bolder;
  padding: 1%;
  display: flex;
  justify-content: center;
  position: relative;
}
/* end header style */

/* navigation style */
.nav {
  display: flex;
  justify-content: space-around;
}

.active {
    font-weight: bolder;
}

li:hover {
  font-weight: bold;
}
/* end navigation style */

/* about style */
.about-page {
  margin-top: 5%;
}

.about {
  text-align: center;
}

.about-info {
  text-align: center;
  padding: 0 10% 0 10%;
}
/* end about style */

/* project style */
.project-page {
  margin-top: 3%;
  margin-bottom: 2%;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  padding-left: 3.2%;
}

.work a {
  text-decoration: none;
  color: var(--primary-color);
}

.icon {
    color: black; 
}

.icon:hover {
    color:white;
}

.title {
  text-align: center;
  font-weight: bold;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--dark-color);
  margin: 1%;
  width: 46%;
  height: 12em;
  border: 4px solid var(--secondary-color);
  border-radius: 10px;
  position: relative;
  background-image: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--secondary-color)
  );
}

.banner {
  position: absolute;
  bottom: 18px;
  left: 0;
  background: white;
  color: black;
  font-weight: bold;
  padding: 6px;
  border-radius: 0px 15px 15px 0px;
  max-width: 75%;
  max-height: 55%;
}

.project-title {
  font-size: 30px;
}

.project-info {
  font-size: 15px;
}

.project:hover {
  border-color: var(--primary-color);
}

.banner:hover {
  background: var(--dark-color);
  color: white;
}

#meditation-buddy:hover {
  background-image: url(./images/meditation-buddy.jpg);
  background-size: cover;
  background-position: center;
}

#book-bits:hover {
  background-image: url(./images/book-bits.jpg);
  background-size: cover;
  background-position: center;
}

#password-generator:hover {
  background-image: url(./images/password-generator.png);
  background-size: cover;
  background-position: center;
}

#weather-dashboard:hover {
  background-image: url(./images/weather-dashboard.jpg);
  background-size: cover;
  background-position: center;
}

#work-day-scheduler:hover {
  background-image: url(./images/work-day-scheduler.jpg);
  background-size: cover;
  background-position: center;
}

#code-quiz:hover {
  background-image: url(./images/code-quiz.jpg);
  background-size: cover;
  background-position: center;
}

#tech-blog:hover {
  background-image: url(./images/tech-blog.jpg);
  background-size: cover;
  background-position: center;
}

#e-commerce:hover {
  background-image: url(./images/e-commerce.jpg);
  background-size: cover;
  background-position: center;
}

#employee-tracker:hover {
  background-image: url(./images/employee-tracker.jpg);
  background-size: cover;
  background-position: center;
}

#note-taker:hover {
  background-image: url(./images/note-taker.jpeg);
  background-size: cover;
  background-position: center;
}

#team-profile-generator:hover {
  background-image: url(./images/team-profile-generator.jpg);
  background-size: cover;
  background-position: center;
}

#readme-generator:hover {
  background-image: url(./images/readme-generator.jpg);
  background-size: cover;
  background-position: center;
}
/* end project style */

/* contact style */
.contact-me {
  max-width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.084);
}

label {
  padding: 2%;
}

.contact-btn {
  margin: 4%;
  width: 50%;
}

.contact-btn:hover {
    color: var(--dark-color);
}
/* end contact style */

/* resume style */
.resume-page {
    display: flex;
    text-align: center;
    width: 60%;
    padding: 2%;
}

.resume-text {
    background-color: rgba(128, 128, 128, 0.084);
}

.resume-btn a {
    text-decoration: none;
    color: white;
}
/* end resume style */

/* footer style */
footer {
  background-image: url(./images/leaf-banner.jpg);
}

li {
  list-style: none;
}

a {
  color: black;
}

a:hover {
  color: var(--dark-color);
}
/* end footer style */

/* media queries */
@media (max-width: 1024px) {
  .project-title {
    font-size: 2vw;
  }

  .project-info {
    font-size: 1.5vw;
  }

  .contact-me {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .project-title {
    font-size: 2.5vw;
  }

  .project-info {
    font-size: 1.9vw;
  }

  .contact-me {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .project-title {
    font-size: 3vw;
  }

  .project-info {
    font-size: 2.2vw;
  }

  .contact-me {
    width: 95%;
  }
}
/* end media queries */
